.clearfix {
  clear: both;
}

nav ul {
  float: right;
  list-style-type: none;
}
.list1 {
  color: #496bf2;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}
.hero {
  background-image: url(../images/ezgif-2-b583d0ce77.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

div h1 {
  color: #496bf2;;
  font-size: 30px;
}
.hh1 {
  position: absolute;
  top: 55%;
  left: 50%;
}
.button1 {
  background-color: #496bf2;
}
.button2 {
  background-color: #2dd6c1;
}
.button {
  color: white;
  border: none;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  margin: 6px 3px;
  text-align: center;
  border-radius: 5%;
  cursor: pointer;
}
.hero2 {
  float: left;
  display: inline-flex;
  padding-left: 0px;
}
.hero2 h2 {
  color: #496bf2;
  font-size: 30px;
}

.div1 {
  float: left;
  padding: 120px;
  border: outset;
  margin: 20px;
}
.hh3 {
  float: right;
  padding: 30px;
  width: 45%;
}
.but3 {
  background-color: #496bf2;
  color: white;
  font-size: 22px;
  padding: 12px 24px;
  margin: 6px 3px;
  border-radius: 10%;
  cursor: pointer;
}
.sec4 h4 {
  font-size: 25px;
  text-align: center;
}
.sec4 {
  background-position: center;
}
.hh4 {
  color: #496bf2;;
}
.span1 {
  color: #496bf2;;
}
.span2 {
  color: #2dd6c1;
}
.span3 {
  color: #496bf2;
}
.sec5 p {
  text-align: center;
  font-size: 30px;
}
.sec4 {
  width: 50%;
  margin: 0px auto;
}
.sec5 img {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.pic9 {
  background-image: url("../images/ezgif-2-81a50240fb.png");
  height: 100vh;
}
.forms input {
  padding: 35px 40px;
  width: 40%;
  margin: 0px 24px;
  box-sizing: border-box;
}
.pic9 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
}
.but4 {
  background-color: #496bf2;;
  color: white;
  font-size: 16px;
  padding: 22px 28px;
  margin: 6px 3px;
  border-radius: 5%;
  cursor: pointer;
  width: 15%;
  right: 20%;
}
.logo {
  float: left;
  width: 25%;
}
.finals h5 {
  font-size: 28px;
}
.list4 {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  padding: 8px 0px;
  margin: 10px 0px;
}
.home {
  color: #496bf2;;
}
.li6 {
  text-decoration: none;
  list-style-type: none;
}
.quota1 {
  padding-right: 900px;
  padding-bottom: 30px;
}
.quota2 {
  display: block;
  float: right;
}
.para {
  font-size: 28px;
}
.testimonial {
  width: 20px;
  height: 20px;
  border:80px;
  border-radius: 50%;
  margin:0 auto;
  float:left;
  padding: 5px;
}
.test1 {
  background-color: #496bf2;;
}
.test2 {
  background-color: #2dd6c1;
}
.test3 {
  background-color: #16ceb8;
}
.maintest{
  padding: 20px;
  margin: 0px 30px;

}
.maintest{
  width:10%;
  margin:0 auto;
}
