* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
p{
  line-height: 40px;
  font-size: 20px;
}
h2{
  font-size: 50px;
}
.clearfix {
  clear: both;
}
.container {
  width: 90%;
  margin: 0 auto;
}

nav ul {
  float: right;
  list-style-type: none;
  font-size: 20px;
}
.list1 {
  color: #496bf2;
}
.hero p {
  margin: 30px 0;
}
nav ul li {
  display: inline-block;
  padding: 25px;
}
.hero {
  background-image: url(../images/ezgif-2-b583d0ce77.png);
  height: 70vh;
  background-position: center;
  background-size: cover;
}

.hero h1 {
  color: #496bf2;
  font-size: 60px;
}
.hh1 {
  position: absolute;
  top: 22%;
  left: 50%;
  right: 5%;
}
.button1 {
  background-color: #496bf2;
}
.button2 {
  background-color: #2dd6c1;
}
.button {
  color: white;
  border: none;
  display: inline-block;
  font-size: 20px;
  padding: 20px 60px;
  margin: 6px 3px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.hero2 {
  float: left;
  display: inline-flex;
  margin: 70px 0;
}
.hero2 h3 {
  color: #496bf2;
  font-size: 30px;
  margin: 20px 0;
}

.div1 {
  text-align: center;
  box-shadow: 0 0 5px gray;
  float: left;
  width: 30%;
  padding: 50px;
  /* margin-right: 120px; */
}
.div1:nth-child(2) {
  margin: 0 5%;
}

.hh3 {
  float: right;
  /* padding: 30px; */
  width: 47%;
}

.hh3 p {
  margin: 20px 0;
}
.sec4 h4 {
  font-size: 35px;
  text-align: center;
  margin: 40px 0px;
  color:#496bf2;
}
.sec4 {
  text-align: center;
}


.span1 {
  color: #496bf2;
}
.span2 {
  color: #2dd6c1;
}
.span3 {
  color: #496bf2;
}
.sec5{
  margin:70px 0;
}
.sec5 h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
.sec4 {
  width: 50%;
  margin: 60px auto;
}
.sec5 img {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.contact-form-image {
  background-image: url("../images/ezgif-2-81a50240fb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 70vh;
}

.form {
  width: 50%;
  padding: 40px;
}
.input-container, textarea{
  background-color: white;
  margin-bottom: 15px;
  padding:25px 20px;
  border-radius: 5px;
}
.input-container input{
  font-size: 17px;
  width: 100%;
  border: none;
  outline: none;
}
textarea{
  font-size: 17px;
  width: 100%;
  border: none;
  outline: none;
}



.logo {
  float: left;
  width: 25%;
}
.finals h5 {
  font-size: 28px;
  margin-top: 30px;
}
.list4 {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  padding: 8px 0px;
  margin: 10px 0px;
}
.home {
  color: #496bf2;
}
.li6 {
  text-decoration: none;
  list-style-type: none;
}
/* .sec4 h4{

} */
.quota1 {
  padding-bottom: 30px;
  text-align: left;
}
.quota2 {
  text-align: right;
}
.sec4 p{
  text-align: left;
}
.testimonial {
  width: 20px;
  height: 20px;
  border: 80px;
  border-radius: 50%;
  margin: 0 auto;
  float: left;
  padding: 10px;
}
.testimonial:nth-child(2){
  margin:0 30px;
}
.test1 {
  background-color: #496bf2;
}
.test2 {
  background-color: #2dd6c1;
}
.test3 {
  background-color: #16ceb8;
}
.maintest{
  width: 15%;
  margin: 0 auto;
}

.blue {
  color: #496bf2;
}
.green {
  color: #2dd6c1;

}

.finals ul li {
  margin: 16px 0px;
}

.facebook{
  margin:0 15%;
}